export DATABASE_URL="postgres://postgres:password@127.0.0.1:5432/universal-inbox"
export SQLX_OFFLINE="true"
# Serde has difficulties deserialize large nested structs on smaller stack
# This is required for tests
export RUST_MIN_STACK=4194304

source_env_if_exists .local_envrc
