[[hooks]]
stage = "pre_build"
command = "sh"
command_arguments = ["-c", "npx --yes rspack build"]

[[hooks]]
stage = "build"
command = "sh"
command_arguments = [
  "-c",
  "just build-tailwind $TRUNK_STAGING_DIR",
]

[[hooks]]
stage = "post_build"
command = "sh"
command_arguments = [
  "-c",
  "mv -v public/js/index.js* $TRUNK_STAGING_DIR/snippets/$(ls $TRUNK_STAGING_DIR/snippets | grep ^universal-inbox-web | head -n 1)/public/js/",
]

[build]
target = "index-trunk.html"
html_output = "index.html"
minify = "always"
dist = "public"

[serve]
aliases = ["https://dev.universal-inbox.com"]

[[proxy]]
backend = "http://localhost:8000/api/"
